/* font customizada */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* resetar o basico */
* { margin: 0; padding: 0;}

html {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.952),rgb(8, 188, 219));
}

body {
    font-family: montserrat, arial, verdana;
}

/* formulario stylo */
#formulario {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#formulario fieldset {
    background: white; 
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

/* primeiro fieldset */
#formulario fieldset:not(:first-of-type) {
    display: none;
}

/* inputs */
#formulario input, #formulario textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#formulario .acao-botao {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#formulario .acao-botao:hover, #formulario .acao-botao:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/* cabecalho */
.titulo {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.subtitulo {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/* progresso da barra */
#progresso-barra {
    margin-bottom: 30px;
    overflow: hidden;
    /* Contadores CSS para numerar as etapas */
    counter-reset: step;
}
#progresso-barra li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progresso-barra li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/* progresso-barra conexao */
#progresso-barra li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /* coloque atrás dos números */
}


#progresso-barra li:first-child:after { 
    /* conector não é necessário antes do primeiro passo */
    content: none;
}
/* 
marcação ativa concluída etapas verde
O número da etapa e o conector antes dela = verde */

#progresso-barra li.active:before, #progresso-barra li.active:after {
    background: #27AE60;
    color: white;
}
